.fullJobBoard {
  padding: 0px 250px;
  background-color: #faf9f7;
}

/* ===== Section 1 ===== */
.jobBoardSec .newJobPost {
  padding: 140px 0px;
}

.jobBoardSec .newJobPost h3 {
  font-weight: 400;
  color: #1a1a1a;
}

.paraSub {
  width: 68%;
}

.paraSub p {
  padding: 0;
  font-size: 24px;
}

/* ===== Common Board Container ===== */
.boardContainer {
  margin: 148px 0px;
}

.boardContainer .content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.leftSide {
  width: 50%;
}

.leftSide img {
  width: 100%;
  max-width: 708px;
  height: 483px;
}

.rightSide {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding-left: 60px;
}

.rightSide h1 {
  font-size: 64px;
  color: #1a1a1a;
  font-weight: bold;
  line-height: 90%;
  letter-spacing: -5px;
}

.goldenHeading {
  color: #cbb682;
}

.subHeading p {
  font-size: 20px;
}

/* ===== Pins ===== */
.pinsAll {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.pin {
  background-color: #cbb682;
  padding: 10px 14px;
  min-width: 244px;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
}

/* ===== Second Board ===== */
.secondBoard .rightSide {
  padding-right: 30px;
  justify-content: center;
}

.secondBoard .rightSide h1 {
  font-size: 96px;
}

/* ===== Cards ===== */
.boardCards {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 70px;
}
